<div class="container col-md-6 offset-md-3 topper">
  <div class="container ">
    <div class="text-center col-md-12 background_darkblue text_white">
    <h1> I Have an Idea! </h1>
  </div>
    <%= render 'form', volunteer: @volunteer %>

  </div>
</div>
