<div class="container col-md-6 offset-md-3 topper">
  <div class="container">

    <h1 class="headline"><%= @volunteer.name %></h1>
    <h4 class="lede"><%= @volunteer.email %></h4>

    </div>
  </div>
</div>
