<div class="container col-md-6 offset-md-3 topper">
  <div class="container">
    <%= render 'form', blog: @blog %>
    
    <%= link_to 'Back', blogs_path, class: "btn btn-secondary" %>
  </div>
</div>
  
