<hr class="featurette-divider">

<footer class="blog-footer">
  <div class="container" style="text-align:center">
    <p>
      <%= copyright_generator %>
    </p>
    <p>
      Questions? 
      <%= mail_to 'cal@codeforpdx.org', 'Email Me' %>
    </p>
  </div>
</footer>
