<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="row col-12">
    <div class="col" style="text-align:left;">
      <a class="navbar-brand" href="#" style="line-height:50px !important">
        <%= image_tag "logo", size: "50x50", alt: "logo" %> 
        Code for PDX
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>      
    </div>
    <div class="col-8">
      <div class="collapse navbar-collapse" id="navbarCollapse" style="position: absolute; right:0px;">
        <ul class="navbar-nav mr-auto">
    
          <%= nav_helper 'nav-link', 'li' %>
    
        </ul>
      </div>      
    </div>
  </div>
</nav>
</header>
