<header>
<nav class="navbar navbar-expand-sm navbar-lite fixed-top background_white navbar_border">
  <%= link_to root_path, class: 'navbar-brand offset-lg-1 offset-xl-2' do %>
    <p>
      <%= image_tag "logo.png", size: "50x50", alt: "logo" %>
      Code for PDX
    </p>
  <% end %>

  <button style="right:0px" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <%= nav_helper 'nav-item nav-link', 'li' %>

    </ul>
  </div>
  <% if current_user %>

  <% end %>
</nav>
</header>
