<header class="flex">
<div class="fl w-80 tl" style="padding-left: 30px;">
    <%= link_to root_path do %>
    <%= image_tag "logo_color", width: "90px", id: "logo", marginleft: "10px", class:"grow"%>
    <% end %>	
</div>

  <div class="fl w-20 tr ">
     <button class="openbtn" onclick="openNav()" style="margin-right: 10px">&#9776; 
    </button> 
</div>

<div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%= nav_helper 'nav-item nav-link', 'a' %>
</div>
</header>
