<div style="width:100%" id="main_featurette">
  <div class="container featurette col-md-8 offset-md-2" style="text-align:center; ">
    <h2 class="featurette-heading">
      We Are Code for PDX. <span class="text-muted">Welcome.</span>
    </h2>
    <p class="lead">
      Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula 
      porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque 
      nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>
    <i class="fas fa-code"></i>
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
<!-- 
<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
-->

