<div class="container col-md-8 offset-md-2 col-xl-6 offset-xl-3 topper" style="margin-top: 60px;">
  <div class="container">
    <h1>Get Started Working With Code for PDX</h1>
    <h3><em>Building a better community is up to all of us</em></h3>

    <p>
      We're not just about building software! No matter what your skill set,
      we'd love to have you on board. Improving the community requires all types.
    </p>
    <ul>
      <li>
        <p>
        <strong>Subject-Matter Experts</strong><br>
        People building technological solutions are usually not experts in the
        field. If your technical expertise is a match for one of our projects,
        excellent! If not, we want to hear from you. Our developers can still use
        your guidance.
        </p>
      </li>
      <li>
        <p>
        <strong>Project Managers</strong><br>
        All important projects need someone to plan, set the course, and clear
        the roadblocks. If you have experience in tackling the big picture and
        predicting problems before they arise, we'd love to hear from you.
        </p>
      </li>
      <li>
        <p>
        <strong>Designers</strong><br>
        Good design guides every-day decisions, from the most impactful to the
        most mundane. If you know how to package information for maximum impact,
        we need you at Code for PDX.
        </p>
      </li>
      <li>
        <p>
        <strong>Advocates and Evangelists</strong><br>
        For our efforts to have a real impact, our projects need visibility -
        both to those who will benefit, and to those who can recommend our work.
        People with the gift for spreading the word are invaluable to what we do.
        </p>
      </li>
      <li>
        <p>
        <strong>Coders</strong><br>
        Most of our projects will involve creating technical solutions to improve
        people's lives. Come make an impact, while learning new skills along the
        way.
        </p>
      </li>
      <li>
        <p>
        <strong>Governments and Non-Profits</strong><br>
        Those with a strong overview of what our community needs are best placed
        to help stewart our projects as they evolve. If you work with a local
        government or organization focused on the common good, we want to hear
        from you.
        </p>
      </li>
    </ul>

    <p>
      As we get going, you'll be able to see what we're up to on the
      <%= link_to 'projects page', about_projects_path %>.
      Don't hesitate to
      <%= mail_to 'hugh@codeforpdx.org', 'send an email' %> asking how you
      can get involved, even if you don't see yourself in the list above.
    </p>

    <h1>Come Talk To Us</h1>
    <p>
      If you just want to get a feel for what's happening, join us on
      <%= link_to 'Slack', 'https://codeforpdx.slack.com', target: '_blank' %>
      and say hi on the #citizen-participation channel, or contact us on
      <%= link_to 'Twitter', 'https://twitter.com/codeforpdx', target: '_blank' %>.
    </p>
  </div>
</div>
