<div class="container col-md-6 offset-md-3 topper">project
  <div class="container">
    <%= render 'form', project: @project %>

    <%= link_to 'Back', projects_path, class: "btn btn-secondary" %>
  </div>
</div>
