<div class="container col-md-8 offset-md-2 col-xl-6 offset-xl-3 topper" style="margin-top: 60px;">
  <div class="container">

    <h1>Code for PDX Diversity Statement</h1>
    <h3>
    Platitudes are cheap. We’ve all heard organizations say they’re committed to “diversity” and “tolerance” without ever getting specific,
    so here’s Code for PDX's stance on it:
    <h3>
    <h5><em> Forked and Modified from Open Savannah </em></h5>

    <h3>
    We welcome you.
    </h3>
    <p>
    We welcome people of any gender identity or expression,
    race, skin color, ethnicity, age, size, nationality,
    sexual orientation, ability level, neurotype, religion,
    elder status, family structure, culture, subculture, political opinion,
    education level, identity, and self-identification. We welcome activists,
    artists, bloggers, crafters, coders, wannabe-coders, designers, entrepreneurs,
    documentation writers, journalists, sysadmins, teachers, ordinary people,
    extraordinary people, and everyone in between.
    </p>
    <h3>
    We welcome you.
    </h3>
    <p>
    You may wear a baby sling, hijab, a kippah, leather, an XXXL t-shirt,
    a pentacle, a political badge, a rainbow, a rosary, tattoos,
    or something we can only dream of.
    You may carry a guitar or walking cane or a 15 year old laptop.
    Conservative or liberal, libertarian or socialist —
    we believe it’s possible for people of all viewpoints and persuasions to come
    together and learn from each other. We believe in the broad spectrum of individual
    and collective experience and in the inherent dignity of all people.
    We believe that amazing things happen when people from different worlds and
    worldviews approach each other to create a conversation.
    </p>
    <h3>
    We welcome you.
    </h3>
    <p>
    We get excited about the possibilities for applying the principles and practices
    of the digital age to government services — from professional to amateur, from giant projects to simple apps, from the coder who’s been doing this since the day Code for PDX was conceived
    to the newbie who just started attending Community Action Nights last week.
    </p>
    <p>
    We believe accessibility for people with disabilities is a priority,
    not an afterthought. We think neurodiversity is a feature, not a bug.
    We believe in being inclusive, welcoming, and supportive of anyone who
    comes to us with good faith and the desire to build a community.
    </p>
    <p>
    We believe diversity is core to our mission, not an afterthought.
    While we’ve been vocal advocates of diversity and inclusion in technology,
    much more work remains to bridge the gap that exists.
    <!-- We foster diversity by having a dedicated “Diversity Lead” position who leads the entire brigade in enforcing our Code of Conduct. -->
    We also call on you, as a member of the Code for PDX community, to proudly show your support.
    Be generous, understanding and respectful to your fellow Code for PDX innovators.
    Seek out newcomers and help them feel like they belong.
    Listen with empathy when someone has a different perspective.
    Talk to someone if you notice that something could be better.
    </p>
    <p>
    We have enough experience to know that we won’t get any of this perfect on the first try.
    But we have enough hope, energy, and idealism to want to learn things we don’t know now.
    We may not be able to satisfy everyone, but we can certainly work to avoid excluding anyone.
    And we promise that if we get it wrong, we’ll listen carefully and respectfully to you when you point it out to us, and we’ll do our best to make good on our mistakes.
    </p>
    <p>
    We think our technical experience is important, but we think our community experience is more important.
    We know what goes wrong when organizations say one thing and do another, or when they refuse to say anything at all.
    We believe that keeping Code for PDX transparent is just as important as keeping our servers stable.
    </p>
    <p>
    We work with an agile toolkit and we invite everyone to contribute to Brigade projects,
    the ecosystem of Code for PDX projects, and the community.
    </p>
    <h3>
    Join us, won’t you?
    </h3>
    <p>
    Questions? If you have questions, feel free to <a href="mailto:webmaster@codeforpdx.org"> contact us</a>.
    </p>

  </div>
</div>
