<div class="container col-md-8 offset-md-2 col-xl-6 offset-xl-3 topper">
  <div class="container">
    <h1>Code for PDX began in May of 2018.</h1>
    <p>
      Through our future relationships with news organizations,
      we hope to shine a light on our projects and connect with others 
      doing good work in our community. For now you can:
    </p>
    <ul>
      <li>
        Visit 
        <%= link_to 'Our Code for America page', 'https://brigade.codeforamerica.org/brigades/Code-for-PDX/', target: '_blank' %>
      </li>
      <li>
        Stay up to date with 
        <%= link_to 'Twitter', 'https://twitter.com/codeforpdx', target: '_blank' %>
      </li>
    </ul>
    <p>
      
    </p>
  </div>
</div>
