<h1>Principals</h1>
<h2>Our Manifesto</h2>
<h3>Our vision, mission, values, and operating principles:</h3>
<p>
Local government can work for the people, by the people, in the digital age.
</p>
<ul>
  <li>Services can be simple, accessible, and easy to use.</li>
  <li>Outcomes can be measurably better.</li>
  <li>Better can cost less.</li>
  <li>We can serve everyone with respect and dignity.</li>
</ul>
<p><strong>
It would be the biggest source of societal good for a generation.
Let’s all build it together.
</strong><p>
<p>
No one is coming… it’s up to us. As citizens in a democratic nation in
which localism has taken on heightened importance in recent years,
it’s up to us to change our community and our country …
all of us. We can no longer depend upon the fourth estate, democratic norms,
or financially-health municipal coffers to fall back on and retreat into apathy.
</p>

<p>
Move away from finite digital projects.
Civic-tech organizations can often view their mission in much the
same way they would a building project. It is a one off, finite cost,
followed by a small amount of maintenance. We believe organizations should
 view digital as more like a garden. It is something that needs to be nurtured,
 developed and grown on a continual basis. It needs a continuous improvement model.
 The metrics must be focused on outcomes, not inputs.
  Forget about the technology or the content.
  <strong> Focus on the user </strong>
  and measure success on an ongoing basis based on whether
  the user is successful or not in doing what they came to do.
</p>
<p>
Process before product. Too often, what we call ‘technological solutionism’ –
the mistaken belief that technology alone can answer our world’s biggest problems –
 manifests itself in communities of practice in the technology realm.
 We don’t think technology can solve all our problems,
 but we do think that technology wielded as a tool by an engaged and informed public can.
</p>
<p>
Real change happens outside the command line.
If we spend all our time building projects behind the glare of a screen,
how will we ever expect to affect meaningful change in the community?
Yes, we believe technology, open (and linked) data, design and
locality knowledge are modes for civic empowerment and change,
but no single app alone is going to lead to catalytic change of
the status quo.
We believe our technical expertise is important,
but that our community expertise is more important.
</p>
<p>
The big thing about small things is that they add up.
The usability, accessibility, and efficiency of government services is more than the sum of its parts.
Wonky pagination on a webform to apply for a business license may seem like a trivial matter,
but it very well could prevent the creation of hundreds of new local jobs by being just a
high enough barrier to entry for a would-be entrepreneur to build the next great
local business.
</p>
<p>
People aren’t the problem. The problem is the problem.
When we start attacking our elected officials and public servants
for failing to represent our interests as residents,
we should always remain mindful of the larger machinery of
municipal government under which they are doing their jobs.
Rarely does blame lie with the people in charge; more often,
the issue goes much deeper, and is the result of applying
20th century municipal structures to the governance of a distributed 21st century society.
</p>
<p>
Locality knowledge is the most important and valuable type of data
The knowledge that everyday residents have about their neighborhoods
is the sort of interpersonal data that not even ‘big data’ companies
 have a way to tap into often.
</p>

<h3>Our Values</h3>
<p>
Empathy is our operating system. We have a deep empathy for the people we work with.
We seek to understand the problems they face and we work tirelessly to serve them.
No one is coming. It’s up to us. We don’t wait for the powers that be to ask us; we act.
We don’t ask for permission; we find a way. We don’t talk change; we deliver it.
Build the movement. No one organization can fulfill this vision;
we will succeed through a movement that invites everyone to roll up their sleeves
and do their part. In short, cultivate the karass.
Our formula for achieving our goals:
<br>
<strong> Information </strong> + <em> invitation </em> = participation.
</p>

<p>
This is our most distilled theory of change.
We believe that `information` is power, and `invitation`
turns individual power into group participation, otherwise known as collective action.
</p>
<p><strong>
We break this down into several basic guiding principles:
</strong>
</p>
<p>
Solve real problems. We solve problems that real people have, we make sure what we build works for them,
and we continuously improve it.
 We solve real problems instead of creating elegant code and robust systems to solve imagined ones.
 Work with, not for the people we serve.
 We start with our users, the people affected by the service, and understand and respect their needs throughout the process.
 We also respect and support public servants, and when we are critical of government outcomes, we blame the system, not the people.
</p>

<p>
We build up – from the user to the system, and from the local to the federal.
</p>
<p>
Work lean, iterate quickly. Get a working minimum viable product (MVP)
in front of users as early as possible and make continuous improvements
based on how they use the service.
</p>
<p>
Make it better with data. Inform iterations with data about user behavior.
Evaluate programs based on statistically-sound ground-truthed data about outcomes.
</p>
<p>
Impact not ideology. Government that works for all
people doesn’t belong to one party or ideology.
 We welcome all political and social views that respect the principle that government
should work effectively for all Americans with respect and dignity.
</p>
<p>
Shape the market, don’t capture the market.
Government that works for all requires the vendor
ecosystem to change to become more responsive to user needs.
 We have the potential to create the biggest change when our projects seek to shape,
 rather than capture, the market for government technology.
</p>
<p>
Non-partisan, but not neutral. We are an alliance of non-partisan groups,
but that non-partisanship does not imply neutrality.
This community has a vision for what government should be and will work to bring that vision into reality.
</p>
<p>
Default to open. Work in the open and collaborate with the community to help make programs and services better for everyone.
</p>
<p>
We help local government work for the people who need it most –
We focus on improving services for the most vulnerable in our society
and in restoring civic trust in an era of record cynicism.
Sometimes, our work takes the form of a direct intervention
(i.e. specifically designing a system to make applying for social services easier),
while more systemic issues often require tackling root causes in a more
indirect fashion that creates the conditions for change (i.e.advocating for open data policy).
</p>

<h2>We are Code for PDX.</h2>
