<div class="container col-md-8 offset-md-2 topper">
  <div class="container">
    <!-- need to build a model to pipe in data -->
    
    <div class="row project-box">
      <div class="col-4">
        <a href="#" target="_self">
          <h1> Project title: </h1>
          <h3> <em>Subtitle containing slightly more information</em> </h3>
          <img src="http://via.placeholder.com/300x300" alt="Project title">
        </a>
      </div>
      <div class="col">
        <p>
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab 
          illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
          sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
          adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et 
          dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum 
          exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea 
          commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate 
          velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat 
          quo voluptas nulla pariatur?"
        </p>
      </div>
    </div>
    
    <div class="row project-box">
      <div class="col-4">
        <a href="#" target="_self">
          <h1> Project title: </h1>
          <h3> <em>Subtitle containing slightly more information</em> </h3>
          <img src="http://via.placeholder.com/300x300" alt="Project title">
        </a>
      </div>
      <div class="col">
        <p>
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab 
          illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
          sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
          adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et 
          dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum 
          exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea 
          commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate 
          velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat 
          quo voluptas nulla pariatur?"
        </p>
      </div>
    </div>
  </div>
</div>
