

<h1> Technology for Good</h1>
<p>
We share a mission with our parent organization, <a href="https://www.codeforamerica.org/" target="_blank"> Code for America:</a>
</p>
<p>
We build open source technology and organize a network of people dedicated to making government services simple, effective, and easy to use.
</p>
<p>
We build civic applications by advocating for Open Data policies and access that then empower residents to put data into new civic use-cases.
</p>
<p>
At Code for PDX, we try and keep the following goals in mind as we do this:
</p>
<ul>

  <li>ake it better to live in our city, county and state</li>

  <li>ncrease civic engagement</li>

  <li>earn and teach</li>

  <li>elp anyone who wants to help</li>
</ul>
