<div class="container col-md-8 offset-md-2 topper">
  <div class="container">
    <h1> Technology for Good</h1>
    <p>
      We share a mission with our parent organization,
      <a href="https://www.codeforamerica.org/" target="_blank">
        Code for America:
      </a>
    </p>
    <p>
      We build open source technology and organize a network of people dedicated
      to making government services simple, effective, and easy to use.
    </p>
    <p>
      We build civic applications by advocating for Open Data policies and access
      that then empower residents to put data into new civic use-cases.
    </p>
    <p>
      At Code for PDX, we try and keep the following goals in mind as we do this:
    </p>
    <ul>
      <li>make it better to live in our city, county and state</li>
      <li>increase civic engagement</li>
      <li>learn and teach</li>
      <li>help anyone who wants to help</li>
    </ul>
  </div>
</div>
