// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "gritter";

#main_featurette {
    background-image: image-url('portland.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid black;
    padding-bottom: 3rem;
    margin-top: 30px;
}

#main-text {
    text-align: center; 
    height: 250px;
    margin-top: 150px;
    h1 {
        color: white;
        text-shadow: -2px 1px #000;
    }
}

.blog {
    a {
        color: currentColor;
        text-decoration: none;
    }
}

.lead {
    color: black;
    background-color: rgba(196,220,255,0.8);
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0px 10px;
}

.contact {
    p { 
        margin-top: 20px;
        margin-bottom: 10px;
        i {
            font-size: 26px;
        }
    }
}