// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "bootstrap";
@import "gritter";
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i');

#main_featurette {
    width: 100%;
    background-image: image-url('c4pdx_blue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid #ffff;
    padding-bottom: 3rem;
    margin-top: 50px;
    background-color: #340086;
    height: 700px;
    background-position: center;
}


#titlecontainer{
  margin: 10% 20% 5% 20%;
  h1{
    font-size: 4rem;
    text-align: left;
    color: white;
  }
  em{
    font-family: 'Crimson Text', serif;
  }
  #pdx{
    background: #00B3A7;
    color: white;
    border-radius: 5px;
    padding: 5px;
  }
  p{
    color: white;
    font-size: 2rem;
    text-align: left;
  }
  a{
    font-family: 'Crimson Text', serif;
    color: #00B3A7;
  }
}

.sectionheader{
  text-align: center;
  color: #340086;
}

.button{
  border-radius: 10px;
  padding: 1% 10%;
  text-align: center;
  font-weight: bold;
  color: white;
  background: #00B3A7;
  vertical-align: center;
}
.button:hover{
  background: purple;
  color: white;
}

#meetupbutton{
  padding: 10px;
  font-size: 2rem;
  color: white;
  background: #ff121a;
}

#meetupbutton:hover{
  background-color: #ff4912;
  color: white;

}
.featurecontainer{
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

.sectionleft{
  float: left;
  padding: 50px;
  width: 60%;
}
.sectionright{
  float: right;
  padding: 10px 50px;
  text-align: center;
}
#projectcontainer{
  width: 100%;
  display: inline-block;
  margin: 2% 5%;
}
.projects{
  display: inline-block;
  margin: 10px;
  min-width: 440px;
  width: auto;
  max-width: 460px;
  height: auto;
  min-height: 650px;
  text-align: center;
  vertical-align: top;
  border-radius: 10px;
  padding: 10px;
}
#newsimage{
  width: 40%;
  padding-left: 30px;
  float: left;
}
#newsbody{
  width: 60%;
  padding: 10px;
  float: right;
}

.partner{
  margin: 5px 20px;
  display:inline-flex;
  min-width: 440px;
  width: auto;
  max-width: 460px;
  height: auto;
  text-align: center;
  vertical-align: top;
  border-radius: 10px;
  padding: 10px;
}

#navbar{
  height: 90px;
  border-bottom: 2px solid #A4D54C;
  background-color: black;
  // a{
  //   color: #340086
  // }
  // p{
  //   color: #340086
  // }
}
//
// div.partial-top, div.partial-sides{
// width:95%; height:95%; background:#fff; position:relative;
// margin:20px; z-index:999; border:4px solid #fff;
// display:flex; align-items:center; justify-content:center;
// color: #000;
// }
// div.partial-top:before,div.partial-top:after{
// content:' '; width: 30px; height:calc(100% + 4px);
// position:absolute; top:0; z-index:1;
// border-top:4px solid #000; border-bottom:4px solid #000;
// top:-6px
// }
// div.partial-top:before{ margin-left:-6px; left:0; border-left: 4px solid #000;}
// div.partial-top:after{ margin-right: -6px; right:0; border-right: 4px solid #000;}
//
//
// div.partial-sides:before,div.partial-sides:after{
// content:' '; height: 30px; width:calc(100% + 4px);
// position:absolute;  z-index:1;
// border-left:4px solid #ff0000; border-right:4px solid #ff0000;
// }
// div.partial-sides:after{
//   bottom:-6px !important;
// }
// div.partial-sides:before{
//   top:-6px !important;
// }
// div.partial-sides:before{ margin-left:-6px; left:0; border-top: 4px solid #ff0000; border-bottom:0px !important;}
// div.partial-sides:after{ margin-right: -6px; right:0;border-top:0 !important; border-bottom: 4px solid #ff0000;}
//




#smlogo{
  margin-top: 9px;
  padding: 2px 5px;
  // border: 3px solid white;
  // border-radius: 50%;
  text-shadow: -1px -1px #black;
  font-size: 300%;
  font-weight: bold;
  :hover{
    background-image: linear-gradient(to right, blue, orange);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}


#main-text {
    text-align: center;
    h1 {
        color: white;
        text-shadow: -2px 1px #000;
    }
    @media (min-width: 800px) {
        margin-top: 125px;
        max-height: 275px;
    }
    @media (max-width: 767px) {
        margin-top: 50px;
    }
}

.top-offset{
  margin-top: 60px;
  padding-top: 10px;
}

.blog {
    a {
        color: currentColor;
        text-decoration: none;
    }
}

.lead {
    color: black;
    background-color: rgba(196,220,255,0.8);
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0px 10px;
}

.contact {
    p {
        margin-top: 20px;
        margin-bottom: 10px;
        i {
            font-size: 26px;
        }
    }
}

.spaced {
    i {
        margin-left: 15px;
        margin-right: 15px;
    }
}


// #main-title {
//   transform:skewY(175deg);
//   margin: auto;
//   margin-bottom: 10px;
//   width: 70%;
//   text-align: center;
//   font-size: 4.5rem;
//   border: 5px solid white;
//   border-radius: 10px;
//   //-webkit-text-stroke-width: 3px;
//   //-webkit-text-stroke-color: black;
// }
//
// #subtitle-text{
//   transform:skewY(175deg);
//   padding: 15px;
//   border-radius: 5px;
// }
.title-button{
  padding: 30px;
}
.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.card-height {
  padding-top: 70px;
  max-width: 500px;
  min-height: 300px;
}

.featurette_main{
  padding-top: 60px;
  padding: 60px;
  min-height: 300px;
}

.text_white{
  color: white;
}
.background_xparent{
  background-color: rgba(164,173,213, 0.3);
  border-radius: 5px;

}
.background_xparent_orange{
  background-color: rgba(255,161,0, 0.3);
}

.text_color{
  color: #340086;
}

.text_greenblue{
  color:#00B3A7;
}
.background_image{
  background-image: image-url('bckgrnd.svg');
  // background-color: #340086;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_project{
  background-image: url('c4pdx.jpg');
  background-color: #340086;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_darkblue{
  background-color: #340086;
}

.background_white{
  background-color: #ffff;
}

.background_greenblue{
  background-color: #00B3A7;
}
.background_lightblue{
  background-color: #96BFE5;
}

.background_red{
  background-color: #F70023;
}

.rounded{
  border-radius: 5px;
}

.navbar_border{
  border-bottom: 2px solid #00B3A7;
}

.masthead_height{
  h1{
    font-size: 150%;
    border: 5px solid  #96BFE5;
    padding: 10px;
    text-shadow: 3px 3px #340086;
  }
  h4{
    font-size: 100%;
  }
  height: 410px;
  padding: 30px;
}

// @media only screen and (max-width: 900px) {
//   #main-title {
//       transform:skewY(180deg);
//       font-size: 3rem;
//     }
//   #subtitle-text {
//     transform:skewY(180deg);
//     font-size: 1em;
//   }
// }
//
// @media only screen and (max-width: 300px) {
//   #main-title {
//       transform:skewY(180deg);
//       font-size: 2rem;
//     }
//   #subtitle-text {
//     transform:skewY(180deg);
//     font-size: 1em;
//   }
// }
