// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "gritter";

#main_featurette {
    background-image: image-url('portland.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid black;
    padding-bottom: 3rem;
}

.featurette-heading {
    color: white;
    text-shadow: -1px 1px #000;
    .text-muted {
        color: #ffeacc !important;
    }
}

.lead {
    color: white;
    text-shadow: 
    -1px 1px #000,
    -1px -1px #000;
}