body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: 'Cabin', sans-serif !important;
  font-size: 13px;
  line-height: 18px;
  
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.navbar-nav {
  line-height: 40px;
  
  p{
    line-height: 40px;
  }
  .nav-link {
    font-size: 15px;
    margin: 0px 15px 0px 15px;
  }
}
.navbar-brand {
  line-height: 50px !important;
}
.navbar-collapse {
  white-space: nowrap; 
  line-height: 50px !important;
  
  @media(min-width: 768px) {
    position: absolute; 
    right: 0px; 
  }
  @media (min-width: 992px) { 
    position: absolute;
    right: 75px;
  }
  @media (min-width: 1200px) {
    position: absolute;
    right: 200px;
  }
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

h2 {
  font-weight: bold;
  padding: 5px 5px 5px 15px;
}

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
